#tabella_stato_tavolo .x-panel-header-default{
	background-image: -moz-linear-gradient(center top , #DDDDDD, #909090)  !important;
}

#tabella_stato_tavolo .x-panel-header-default .x-component-default .x-panel-header-text-default{
	font-size: medium;
}

#tabella_statoCameriere .x-panel-header-default{
	background-image: -moz-linear-gradient(center top , #DDDDDD, #909090)  !important;
}

#tabella_statoCameriere .x-panel-header-default .x-component-default .x-panel-header-text-default{
	font-size: medium;
}

#tabella_statoCuoco .x-panel-header-default{
	background-image: -moz-linear-gradient(center top , #DDDDDD, #909090)  !important;
}

#tabella_statoCuoco .x-panel-header-default .x-component-default .x-panel-header-text-default{
	font-size: medium;
}

#center{
	font-size: xx-large;
	text-align: center;
}

.rowGridVariazioniMenuNonModificabili{
	background-color: black	!important;
}
.rowGridVariazioniMenuModificabili{
	background-color: red	!important;
}

.red-row{		color: red 		!important;	}
.gray-row{		color: gray		!important;	}

.yellow-row{ background-color: #FBF8BF !important; } 
.green-row{ background-color: #99CC99 !important; }

.icon-add{				background-image:url(../icons/add.png) 				! important;}
.icon-refresh{			background-image:url(../icons/refresh.png) 			! important;}
.icon-update{			background-image:url(../icons/refresh.png) 			! important;}
.icon-delete{			background-image:url(../icons/remove.png) 			! important;}
.icon-exclamation{		background-image:url(../icons/exclamation.png) 		! important;}
.icon-close{			background-image:url(../icons/close.png) 			! important;}


/* TOAST */
.error{background-image:url(./icons/exclamation.gif);}
.information{background-image:url(../images/icons/gif/information.gif) ! important;}

.x-icon-error{			background-image:url(../icons/exclamation.gif) 		! important;}
.x-icon-information{	background-image:url(../icons/icon-info.gif) 		! important;}

.x-notification .x-window-body{margin: 0;padding:1em ! important; width: auto ! important;}
.x-notification .x-tool-close{display: none}
.x-notification.fixed .x-tool-close{display: block}


.example-info{
	width:150px;
	border:1px solid #c3daf9;
	border-top:1px solid #DCEAFB;
	border-left:1px solid #DCEAFB;
	background:#ecf5fe url(info-bg.gif) repeat-x;
	font-size:10px;
	padding:8px;
}
pre.code{
	background: #F8F8F8;
	border: 1px solid #e8e8e8;
	padding:10px;
	margin:10px;
	margin-left:0px;
	border-left:5px solid #e8e8e8;
	font-size: 12px !important;
	line-height:14px !important;
}
.msg .x-box-mc {
    font-size:14px;
}
#msg-div {
    position:absolute;
    left:35%;
    top:10px;
    width:250px;
    z-index:20000;
}
.x-grid3-row-body p {
    margin:5px 5px 10px 5px !important;
}
/*
#header-1099{
	color: aqua;
	background: aqua;
	background-color: blue;
}
*/
/*
.x-panel-header-default {
    background-color: #D7D2D2;
    background-image: -moz-linear-gradient(center top , #F0F0F0, #D7D7D7);
    border-color: #D0D0D0;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 0 #EFEDED inset;
    font-size: 11px;
    line-height: 15px;
}
*/
/*stili per il layout fisso con background*/
/*
html,body{margin: 0;padding:0}
body{font-family: arial,sans-serif;
	font-size: 100%;
	text-align: center;
}
*/